MVC Dynamic Menu Creation Using AngularJS and WCF Rest/[C#]-MVC Dynamic Menu Creation Using AngularJS and WCF Rest/C#/ShanuAngularMenuCreation/ShanuAngularMenuCreation/Service References/ShanuMenuServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3514/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShanuMenuCreation_WCF" />
  <xs:element name="GetMenuDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ShanuMenuCreation_WCF" minOccurs="0" name="GetMenuDetailsResult" nillable="true" type="q1:ArrayOfMenuDataContract.MenuDetailDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>