MVC Dynamic Menu Creation Using AngularJS and WCF Rest/[C#]-MVC Dynamic Menu Creation Using AngularJS and WCF Rest/C#/ShanuAngularMenuCreation/ShanuAngularMenuCreation/Service References/ShanuMenuServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShanuMenuCreation_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShanuMenuCreation_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenuDataContract.MenuDetailDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuDataContract.MenuDetailDataContract" nillable="true" type="tns:MenuDataContract.MenuDetailDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuDataContract.MenuDetailDataContract" nillable="true" type="tns:ArrayOfMenuDataContract.MenuDetailDataContract" />
  <xs:complexType name="MenuDataContract.MenuDetailDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="MDetail_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuDisplayTxt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Menu_ChildID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Menu_RootID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuDataContract.MenuDetailDataContract" nillable="true" type="tns:MenuDataContract.MenuDetailDataContract" />
</xs:schema>