MyCompany EXPENSES demo application/[C#][JavaScript]-MyCompany EXPENSES demo application/C# and JavaScript/MyCompany.Expenses.Client.WP/SampleData/HistorySampleData/HistorySampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.HistorySampleData" targetNamespace="Blend.SampleData.HistorySampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HistorySampleData" type="tns:HistorySampleData" />
  <xs:complexType name="HistorySampleData">
    <xs:sequence>
      <xs:element name="Expenses" type="tns:Expenses" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Expenses">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ExpensesItem" type="tns:ExpensesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExpensesItem">
    <xs:attribute name="ExpenseId" type="xs:double" />
    <xs:attribute blend:FormatParameters="3" name="Amount" type="xs:double" />
    <xs:attribute blend:FormatParameters="2,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1" name="Status" type="xs:double" />
    <xs:attribute blend:Format="Date" name="CreationDate" type="xs:string" />
    <xs:attribute blend:FormatParameters="1" name="ExpenseType" type="xs:double" />
  </xs:complexType>
</xs:schema>