Microsoft Media Platform Video Editor (formerly RCE)/[C#]-Microsoft Media Platform Video Editor (formerly RCE)/C#/code/RCE.Modules.Services/Service References/AssetsDataService/AssetsDataService23.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.microsoft.com/rce/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/rce/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.microsoft.com/rce/Imports">
      <xsd:import schemaLocation="http://w7-mb-ejadib/RCE.Web/AssetsDataService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/rce/" />
      <xsd:import schemaLocation="http://w7-mb-ejadib/RCE.Web/AssetsDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://w7-mb-ejadib/RCE.Web/AssetsDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RCE.Services.Contracts.Contracts" />
      <xsd:import schemaLocation="http://w7-mb-ejadib/RCE.Web/AssetsDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://w7-mb-ejadib/RCE.Web/AssetsDataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SMPTETimecode" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssetsDataService_LoadLibraryWithLimitedItems_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadLibraryWithLimitedItems" />
  </wsdl:message>
  <wsdl:message name="IAssetsDataService_LoadLibraryWithLimitedItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadLibraryWithLimitedItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssetsDataService_LoadLibraryFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadLibraryFilter" />
  </wsdl:message>
  <wsdl:message name="IAssetsDataService_LoadLibraryFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadLibraryFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IAssetsDataService_LoadLibraryById_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadLibraryById" />
  </wsdl:message>
  <wsdl:message name="IAssetsDataService_LoadLibraryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadLibraryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAssetsDataService_LoadLibraryByIdFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadLibraryByIdFilter" />
  </wsdl:message>
  <wsdl:message name="IAssetsDataService_LoadLibraryByIdFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadLibraryByIdFilterResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssetsDataService">
    <wsdl:operation name="LoadLibraryWithLimitedItems">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/rce/IAssetsDataService/LoadLibraryWithLimitedItems" message="tns:IAssetsDataService_LoadLibraryWithLimitedItems_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/rce/IAssetsDataService/LoadLibraryWithLimitedItemsResponse" message="tns:IAssetsDataService_LoadLibraryWithLimitedItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadLibraryFilter">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/rce/IAssetsDataService/LoadLibraryFilter" message="tns:IAssetsDataService_LoadLibraryFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/rce/IAssetsDataService/LoadLibraryFilterResponse" message="tns:IAssetsDataService_LoadLibraryFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadLibraryById">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/rce/IAssetsDataService/LoadLibraryById" message="tns:IAssetsDataService_LoadLibraryById_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/rce/IAssetsDataService/LoadLibraryByIdResponse" message="tns:IAssetsDataService_LoadLibraryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadLibraryByIdFilter">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/rce/IAssetsDataService/LoadLibraryByIdFilter" message="tns:IAssetsDataService_LoadLibraryByIdFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/rce/IAssetsDataService/LoadLibraryByIdFilterResponse" message="tns:IAssetsDataService_LoadLibraryByIdFilter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>