Microsoft Media Platform Video Editor (formerly RCE)/[C#]-Microsoft Media Platform Video Editor (formerly RCE)/C#/code/RCE.Modules.Services/Service References/AssetsDataService/AssetsDataService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/rce/" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/rce/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://w7-mb-ejadib/RCE.Web/AssetsDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RCE.Services.Contracts" />
  <xs:import schemaLocation="http://w7-mb-ejadib/RCE.Web/AssetsDataService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://w7-mb-ejadib/RCE.Web/AssetsDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMPTETimecode" />
  <xs:element name="LoadLibraryWithLimitedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxNumberOfItems" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLibraryWithLimitedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadLibraryWithLimitedItemsResult" nillable="true" type="tns:Container" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Container">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RceObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Containers" nillable="true" type="tns:ArrayOfContainer" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItem" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Container" nillable="true" type="tns:Container" />
  <xs:complexType name="RceObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="IsLoaded" type="xs:boolean" />
      <xs:element minOccurs="0" name="Modified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RceObject" nillable="true" type="tns:RceObject" />
  <xs:complexType name="ArrayOfContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Container" nillable="true" type="tns:Container" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContainer" nillable="true" type="tns:ArrayOfContainer" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RceObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Metadata" nillable="true" type="tns:ArrayOfMetadataField" />
          <xs:element minOccurs="0" name="Resources" nillable="true" type="tns:ArrayOfResource" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfMetadataField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetadataField" nillable="true" type="tns:MetadataField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetadataField" nillable="true" type="tns:ArrayOfMetadataField" />
  <xs:complexType name="MetadataField">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetadataField" nillable="true" type="tns:MetadataField" />
  <xs:complexType name="ArrayOfResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resource" nillable="true" type="tns:Resource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResource" nillable="true" type="tns:ArrayOfResource" />
  <xs:complexType name="Resource">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RceObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ref" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResourceType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:complexType name="OverlayItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Item">
        <xs:sequence>
          <xs:element minOccurs="0" name="Duration" type="xs:double" />
          <xs:element minOccurs="0" name="Height" type="xs:double" />
          <xs:element minOccurs="0" name="Width" type="xs:double" />
          <xs:element minOccurs="0" name="X" type="xs:double" />
          <xs:element minOccurs="0" name="XamlTemplate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Y" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverlayItem" nillable="true" type="tns:OverlayItem" />
  <xs:complexType name="MediaItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Item">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaItem" nillable="true" type="tns:MediaItem" />
  <xs:complexType name="SmoothStreamingVideoItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VideoItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="AudioStreamName" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RCE.Services.Contracts" minOccurs="0" name="AudioStreams" nillable="true" type="q1:ArrayOfAudioStreamInfo" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataStreams" nillable="true" type="q2:ArrayOfstring" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExternalManifests" nillable="true" type="q3:ArrayOfanyURI" />
          <xs:element minOccurs="0" name="StartPosition" type="xs:double" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VideoStreams" nillable="true" type="q4:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SmoothStreamingVideoItem" nillable="true" type="tns:SmoothStreamingVideoItem" />
  <xs:complexType name="VideoItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MediaItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:double" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMPTETimecode" minOccurs="0" name="FrameRate" type="q5:SmpteFrameRate" />
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsStereo" type="xs:boolean" />
          <xs:element minOccurs="0" name="ThumbnailSource" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Width" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoItem" nillable="true" type="tns:VideoItem" />
  <xs:complexType name="SmoothStreamingAudioItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AudioItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="AudioStreamName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SmoothStreamingAudioItem" nillable="true" type="tns:SmoothStreamingAudioItem" />
  <xs:complexType name="AudioItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MediaItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="IsStereo" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AudioItem" nillable="true" type="tns:AudioItem" />
  <xs:complexType name="ImageItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MediaItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Height" type="xs:int" />
          <xs:element minOccurs="0" name="Width" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageItem" nillable="true" type="tns:ImageItem" />
  <xs:complexType name="SubClipItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MediaItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="InPosition" type="xs:double" />
          <xs:element minOccurs="0" name="OutPosition" type="xs:double" />
          <xs:element minOccurs="0" name="RelatedItem" nillable="true" type="tns:Item" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RCE.Services.Contracts" minOccurs="0" name="SequenceAudioStreams" nillable="true" type="q6:ArrayOfAudioStreamInfo" />
          <xs:element minOccurs="0" name="SequenceVideoStream" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubClipItem" nillable="true" type="tns:SubClipItem" />
  <xs:complexType name="MediaBin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Container">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaBin" nillable="true" type="tns:MediaBin" />
  <xs:element name="LoadLibraryFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxNumberOfItems" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLibraryFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadLibraryFilterResult" nillable="true" type="tns:Container" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLibraryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="libraryId" nillable="true" type="xs:anyURI" />
        <xs:element minOccurs="0" name="maxNumberOfItems" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLibraryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadLibraryByIdResult" nillable="true" type="tns:Container" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLibraryByIdFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="libraryId" nillable="true" type="xs:anyURI" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxNumberOfItems" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLibraryByIdFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadLibraryByIdFilterResult" nillable="true" type="tns:Container" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>