MVVM with Silverlight (Begin to End)/[C#]-MVVM with Silverlight (Begin to End)/C#/MVVMSample/Service References/PersonDataService/PersonDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Index.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Index.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonData" nillable="true" type="tns:PersonData" />
</xs:schema>