MVVM with Silverlight (Begin to End)/[C#]-MVVM with Silverlight (Begin to End)/C#/MVVMSample/Service References/PersonDataService/PersonDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61126/PersonDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Index.Web" />
  <xs:element name="FindPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Index.Web" minOccurs="0" name="FindPersonResult" nillable="true" type="q1:PersonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>