Microsoft Media Platform Video Editor (formerly RCE)/[C#]-Microsoft Media Platform Video Editor (formerly RCE)/C#/code/RCE.Modules.Player/Service References/OutputService/OutputService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://w7-mb-ejadib/RCE.Web/OutputService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/rce/" />
  <xs:element name="EnqueueJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/rce/" minOccurs="0" name="project" nillable="true" type="q1:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnqueueJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCompositeStreamManifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/rce/" minOccurs="0" name="project" nillable="true" type="q2:Project" />
        <xs:element minOccurs="0" name="pbpDataStreamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adsDataStreamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compressManifest" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCompositeStreamManifestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateCompositeStreamManifestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersistManifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manifest" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersistManifestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersistManifestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>