Microsoft Media Platform Video Editor (formerly RCE)/[C#]-Microsoft Media Platform Video Editor (formerly RCE)/C#/code/RCE.Modules.Player/Service References/OutputService/OutputService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OutputService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://w7-mb-ejadib/RCE.Web/OutputService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://w7-mb-ejadib/RCE.Web/OutputService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://w7-mb-ejadib/RCE.Web/OutputService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/rce/" />
      <xsd:import schemaLocation="http://w7-mb-ejadib/RCE.Web/OutputService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMPTETimecode" />
      <xsd:import schemaLocation="http://w7-mb-ejadib/RCE.Web/OutputService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RCE.Services.Contracts" />
      <xsd:import schemaLocation="http://w7-mb-ejadib/RCE.Web/OutputService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOutputService_EnqueueJob_InputMessage">
    <wsdl:part name="parameters" element="tns:EnqueueJob" />
  </wsdl:message>
  <wsdl:message name="IOutputService_EnqueueJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnqueueJobResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GenerateCompositeStreamManifest_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateCompositeStreamManifest" />
  </wsdl:message>
  <wsdl:message name="IOutputService_GenerateCompositeStreamManifest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateCompositeStreamManifestResponse" />
  </wsdl:message>
  <wsdl:message name="IOutputService_PersistManifest_InputMessage">
    <wsdl:part name="parameters" element="tns:PersistManifest" />
  </wsdl:message>
  <wsdl:message name="IOutputService_PersistManifest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersistManifestResponse" />
  </wsdl:message>
  <wsdl:portType name="IOutputService">
    <wsdl:operation name="EnqueueJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/EnqueueJob" message="tns:IOutputService_EnqueueJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/EnqueueJobResponse" message="tns:IOutputService_EnqueueJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateCompositeStreamManifest">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/GenerateCompositeStreamManifest" message="tns:IOutputService_GenerateCompositeStreamManifest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/GenerateCompositeStreamManifestResponse" message="tns:IOutputService_GenerateCompositeStreamManifest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersistManifest">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutputService/PersistManifest" message="tns:IOutputService_PersistManifest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutputService/PersistManifestResponse" message="tns:IOutputService_PersistManifest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOutputService" type="tns:IOutputService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnqueueJob">
      <soap:operation soapAction="http://tempuri.org/IOutputService/EnqueueJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCompositeStreamManifest">
      <soap:operation soapAction="http://tempuri.org/IOutputService/GenerateCompositeStreamManifest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersistManifest">
      <soap:operation soapAction="http://tempuri.org/IOutputService/PersistManifest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutputService">
    <wsdl:port name="BasicHttpBinding_IOutputService" binding="tns:BasicHttpBinding_IOutputService">
      <soap:address location="http://w7-mb-ejadib/RCE.Web/OutputService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>